a:link, a:visited {
  text-decoration: none !important;
  color: lightcoral !important;
  padding: 20px;
  display: inline-block;
  font-family: Monospace;
}

a:hover, a:active {
  text-decoration: none;
  color: white !important;
}

.cat-cards {
  font-family: Monospace;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  flex-shrink: 1;
  padding: 25px 25px 25px 25px;
  gap: 1%;
  padding: 20px;
  text-align: center;
  color: lightseagreen;
}

body {
  background-color: lavenderblush !important;
  height: 110vmin;
  text-align: center;
}

button {
  background-color: rgba(106, 107, 107, 0.88) !important;
  outline-color: lightblue !important;
  text-align: center;
  color: lightpink!important;
  font-family: Monospace;
}

.card {
  font-family: Monospace;
  background-color: rgba(116, 186, 206, 0.221)!important;
  text-align: center;
  color: lightseagreen !important;
}

.container{
  width: 50%;
  height: 50%;
  background-color: none !important;
}

footer {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  background-color: lightpink;
  width: 100%;
  color:white;
  height: 5vmin;
  font-family: Monospace;
}

form {
  background-color: none;
  font-family: Monospace;
}

h1 {
  color: rgb(87, 132, 179);
  text-align: center;
  font-family: Monospace;
}

h2 {
  color: rgb(87, 132, 179);
  text-align: center;
  font-family: Monospace;
}

header {
  background-color:lightblue;
  height: 9vmin;
  width: 100%;
  display: inline-block;
}

.home_button {
  width: 30%;
}

label {
  font-family: Monospace;
}

.logo {
  margin-left: 20px;
  width: 20%;
  border-radius: 30px;
}

main {
  background-color: rgba(235, 250, 254, 0.221);
  height: 50vmin;
  text-align: center;
}

.picture {
  width: 50%;
}